body {
  font-size: 16px;
  margin: 0;
  background: #ccc;
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 100%;
  height: auto;
  margin: 100px auto;
}

.boxcontainer {
  display: flex;
  justify-content: space-around;
}
.box {
  background: #3887d6;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  text-align: center;
  line-height: 400px;
  font-size: 200px;
  color: #fff;
  margin-top: 30px;
  user-select: none;
}

.btn {
  cursor: pointer;
  background: #3887d6;
  width: 120px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  margin: 80px auto;
  padding: 10px 30px;
  user-select: none;
  font-size: 1rem;
}

.hidden {
  display: none;
}
.correct {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 4rem;
  user-select: none;
  line-height: 750px;
}

a {
  text-decoration: none;
}

.cherry-blossom-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: 32px;
}
.petal {
  position: absolute;
  background: #ddc0cb;
  border-radius: 100% 0 100% 0;
  animation: animate-petal 10s linear;
}
.petal::after {
  content: "";
  position: absolute;
  top: -14%;
  left: -10%;
  display: block;
  width: 100%;
  height: 100%;
  background: #ddc0cb;
  border-radius: 100% 0 100% 0;
  transform: rotate(15deg);
}

@keyframes animate-petal {
  0% {
    top: 0;
    opacity: 0;
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
    transform: rotate(3000deg);
  }
}

@media screen and (max-width: 670px) {
  .box {
    width: 150px;
    height: 200px;
    font-size: 50px;
    line-height: 200px;
  }
}
